astroid==2.1.0
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
Django==1.11
django-js-asset==1.1.0
django-mptt==0.9.1
httmock==1.2.6
idna==2.8
isort==4.3.4
jsonfield==2.0.2
lazy-object-proxy==1.3.1
mccabe==0.6.1
optionaldict==0.1.1
pycrypto==2.6.1
pylint==2.2.2
python-dateutil==2.7.5
pytz==2018.9
requests==2.21.0
six==1.12.0
typed-ast==1.2.0
typing==3.6.6
urllib3==1.24.1
wechatpy==1.7.6
wrapt==1.11.1
xmltodict==0.11.0
