{% extends 'admin/change_list.html' %}
{% load i18n admin_urls static admin_list admin_modify %}

{% block breadcrumbs %}
{% if app_id %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:wechat_funcs_list' app_label=opts.app_label app_id=app_id %}">{{ app.title }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block result_list %}
{% if action_form and actions_on_top and not cl.show_admin_actions %}{% admin_actions %}{% endif %}
{{ block.super }}
{% endblock %}

{% block search %}{% search_form cl %}{% endblock %}