{% extends 'admin/delete_confirmation.html' %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
{% if app_id %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:wechat_funcs_list' app_label=opts.app_label app_id=app_id %}">{{ app.title }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}?app_id={{ app_id }}">{{ opts.verbose_name_plural|capfirst|escape }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}?_changelist_filters=app_id%3D{{ app_id }}">{{ object|truncatewords:"18" }}</a>
&rsaquo; {% trans 'Delete' %}
</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}